.microndas-cabecalho {
    background: #000;
    padding: 40px 0;
    text-align: center;
    color: green;
    font-family: 'Orbitron', sans-serif;
    border: 3px solid #ccc;
}

.cabecalho-titulo {
    font-size: 30px;
    text-align: center;
}

.display ul li{
    list-style-type: none;
}
#contador-list li {
    display: inline-block;
    margin-right: 10px;
}

.color-red{
    color:red;
}
.color-yellow{
    color:yellow;
}
.tit-principal {
    text-align: center;
}

.container.border {
    border: 5px solid #000;
}

.entrada-data {
    padding: 30px 0;
}

.grupoBotoes {
    margin-bottom: 20px;
}

.botao-wrapper {
    margin-bottom: 40px;
    border: 3px solid #000;
    background: #ccc;
}


fileUpload {
    position: relative; 
    overflow: hidden; 
    margin: 10px; 
}
.fileUpload input.upload {
    position: absolute;
    top: 80px;
    right: 0;
    left: 3px;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}